/*----------------------------------------------------------------------------------------------------------------------------------
-----------------  MAIN SITE  ------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------*/


header{
    background-image: url("./source/document3.jpg");
    background-color: #cccccc;
    background-size: cover;
}

h1{
    font-size:6rem;
    margin: 0px; 
    padding: 40px;
}

#loginUser, #savenewUser, .userh3 {
   /* display: inline; */
    padding: 15px;
    font-family:Arial, Helvetica, sans-serif;
}

#userContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(234, 234, 234);
}

.userInput{
    margin-right: 20px;
}

nav{
    font-size: 2rem;
    font-family:Arial, Helvetica, sans-serif;
}

ul{
    display:flex;
    justify-content: space-around;
}

li{
    list-style: none;
    display: inline-block; 
    padding: 10px;
    background-color: rgb(234, 234, 234);
    border-radius: 10px;
}

li:active {
    background-color: #7d7d7d;
    box-shadow: 0 5px #4b4b4b;
    transform: translateY(1px);
  }


.firstSiteSection{
    background-image: url("./source/headSiteImg.jpg");
    background-color: #cccccc;
    background-size: cover;
    padding: 20px 150px;
    font-size:1.5rem;
    font-family:Arial, Helvetica, sans-serif;
}

footer{
    color: black;
    padding-left: 15px;
    padding-top: 25px;
    font-weight: bolder;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5rem;
}

/* visited link */
.linkFooter {
    color: black;
    font-family:Arial, Helvetica, sans-serif;
}

.firstSiteH3{
    font-size: 3rem;
    text-align:center;
    font-family:'Times New Roman', Times, serif;
}

#loginUserBtn #saveUserBtn{
    position:relative;
    left:50px;
    margin:20px;
}




/*-----------------------------------------------------------------------------------------------------------------------------------
-------------------  CREATE SITE  ---------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------*/

.whriteH2{
    font-size: 3rem;
    text-align:center;
}

#root{
    background-image: url("./source/headSiteImg.jpg");
    background-color: #cccccc;
    background-size: cover;
    padding: 20px;
/*    font-size:1.5rem;*/
}

.noteNameInfo{
    font-size:1.5rem;
    font-family:Arial, Helvetica, sans-serif;
}

.textResult{
    background-color: white;
    border-radius: 10px;
    margin: 2px;

}

.noteNameInput{
    font-size:1.5rem;
    margin-left: 15px;
    margin-top:25px;
    margin-bottom: 40px;

}

.seeNoteInDOMBtn{
    font-size:1.5rem;
    margin:15px;
    position:relative;
    left: 90vw;
    background-color:white;
    border-radius:10px;
    padding: 5px;
}



/*----------------------------------------------------------------------------------------------------------------------------------
------------------  SHOW NOTES SITE ------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------*/


.ShowNotesH2{
    font-size: 3rem;
    text-align:center; 
}

.ShowNotesH3{
    font-size: 1.6rem;
    text-align:center; 
    font-family:Arial, Helvetica, sans-serif;
}
.noteName{
    background-color:white;
    text-align:center;
    font-size:3rem;

}

